<html>

<body>

<select name="userPickerFrom" id="select1">
    <option value="null">Select User Picker</option>
    #foreach ($customs in $customFieldsFrom)
        <option value=$customs.Id>$customs.Name</option>
        #if (${selectedCustomFields})
            #if (${selectedCustomFields.contains($customs.Id)})
                SELECTED

            #end
        #end
    #end
</select>

<select name="userPickerTo" id="select2">
    <option value="null">Select User Picker</option>
    #foreach ($customs in $customFieldsTo)

        <option value=$customs.Id>$customs.Name</option>

        #if (${selectedCustomFields})
            #if (${selectedCustomFields.contains($customs.Id)})
                SELECTED
            #end
        #end
    #end
</select>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>

    AJS.$(document).ready(function () {
        AJS.$('#update_submit').attr('disabled', true);
    });

    $('select').change(function () {

        var value = $(this).val();
        var attributesSelect = $('#select1').children('option').attr();
        if (attributesSelect == 'selected') {
        ## $('#select1').val() =
        }
        $(this).siblings('select').children('option').each(function () {
            if ($(this).val() === value) {
                $(this).attr('disabled', true).siblings().removeAttr('disabled');

            }

        });
        if ($('#select1').val() != "null" && $('#select2').val() != "null") {
            console.log(value);

            $('#update_submit').removeAttr('disabled');
        }
        if ($('#select1').val() == "null" || $('#select2').val() == "null") {
            $('#update_submit').attr('disabled', true);
        }

    });
</script>


</html>


