<html>

<body>

<select name="userPickerFrom" id="select1">
    #foreach ($customs in $customFieldsFrom)

        #if ($selectedCustomField1.Id == $customs.Id)
            <option value=$customs.Id selected>$customs.Name</option>
        #else
            #if($selectedCustomField2.Id==$customs.Id)
                <option value=$customs.Id disabled>$customs.Name</option>
            #else
                <option value=$customs.Id>$customs.Name</option>
            #end
        #end
    #end
</select>

<select name="userPickerTo" id="select2">

    #foreach ($customs in $customFieldsTo)

        #if ($selectedCustomField2.Id == $customs.Id )
            <option value=$customs.Id selected>$customs.Name</option>
        #else
            #if($selectedCustomField1.Id==$customs.Id)
                <option value=$customs.Id disabled>$customs.Name</option>
            #else
                <option value=$customs.Id>$customs.Name</option>
            #end

        #end


    #end
</select>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>

    AJS.$(document).ready(function () {
        AJS.$('#update_submit').attr('disabled', true);


        var value = $('#select1').val();

        $('select').siblings('select').children('option').each(function () {
            if ($('#select2').val() === value) {
                $(this).attr('disabled', true).siblings().removeAttr('disabled');
            }

        });
    });


    $('select').change(function () {

        var value = $(this).val();


        $(this).siblings('select').children('option').each(function () {
            if ($(this).val() === value) {
                $(this).attr('disabled', true).siblings().removeAttr('disabled');
            }

        });
        if ($('#select1').val() != "null" && $('#select2').val() != "null") {

            if ($('#select1').val() == $('#select2').val()) {
                $('#update_submit').attr('disabled', true);
            } else {
                $('#update_submit').removeAttr('disabled');
            }
        }
        if ($('#select1').val() == "null" || $('#select2').val() == "null") {
            $('#update_submit').attr('disabled', true);
        }

    });
</script>


</html>


